.App {
  width: 70%;
  margin: 25px auto;
}
.result {
  display: flex;
  overflow-x: auto;
}

.formGroup {
	margin-bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.formControl {
	padding: 10px 15px;
	width: 20%;
	outline: none;
	font-weight: 300;
	line-height: 30px;
	font-size: 15px;
  background-color: #FFFFFF;
  border-color: 1px solid #BABBC1;
  color: #323241;
}

.button {
    padding: 15px 25px;
    border: 1px solid transparent;
    letter-spacing: 0.29px;
    color: #FFFFFF;

    width: 100%;

    font-size: 13px;

    opacity: 1;
    transition: all 0.3s ease 0s;
}
.button_primary {
    background-color: #E82F3A;
    border-color: #E82F3A;
    color: #FFFFFF;
}
